dataclasses_json==0.6.2
python_telegram_bot==20.6
python-telegram-bot[job-queue]
requests==2.25.1
telegram==0.0.1
psycopg2==2.9.9
python-dotenv==1.0.0
google==3.0.0
google-api-python-client==2.108.0
google_auth_oauthlib==1.1.0